body {
	background-color: #241d28
}

#console {
	font-family: courier, monospace;
	color: #e0b8ff;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	font-size:25px;
}

a {
	color: #e263ff;
}

#a {
	color: #c181d9;
}

#c {
	color: #e191c9;
}

#b {
	color: #9c4bc1;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
